main{
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;


    .form-container{
        min-width: 350px;

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    .input-group{
        display: flex;
        flex-direction: column;

        gap: 0.5rem;


        input{
            border: none;
            outline: none;
            padding-inline: 1rem;
            padding-block: 0.75rem;
            border-radius: 0.75rem;
        }
    }

    a{
        color: #e1034d;
        text-decoration: none;
    }
}